h1 {text-align: center;
color: brown;}
*{background-color: aliceblue;
font-size: medium;}

div {
    border: black, 5px, solid;
}
div.primero {
    text-align: center;
   border: black, 5px, solid;
}
p.primer { 
    padding-top: 2%;
    text-align: justify;
   
}

p{
    text-align: justify;
    line-height: 125%;
    padding-left: 2%;
    padding-right: 5%;
}
h4.m {
    color: red;
    text-decoration: underline;
}
div.segundo {
    text-align: center;
  }

    p.second {
        padding-top: 2%;
    }

    div.tercero{
        text-align: center;
         
        }
        p.third {padding-top: 2%;
        }
        div.cuarto{
            text-align: center;
             
            }
             p.fourth {padding-top: 2%;
            }
            div.quinto{
                text-align: center;
                 
                }
                p.fifth {padding-top: 2%;
                }
                div.sexto{
                    text-align: center;
                     
                    }
                    p.sixth {padding-top: 2%;
                    }
                    div.séptimo{
                        text-align: center;
                         
                        }
                        p.seventh {padding-top: 2%;
                        }
                        div.octavo{
                            text-align: center;
                             
                            }
                            p.eighth {padding-top: 2%;
                            }
                            div.noveno{
                                text-align: center;
                                 
                                }
                                p.ninth {padding-top: 2%;
                                }
                                div.decimo{
                                    text-align: center;
                                     
                                    }
                                    p.tenth {padding-top: 2%;
                                    }
p.footer{
    color: white;
    background-color: black;
    text-align: center;
padding-top: 1%;
font-weight: bolder;}

p.ninth {
    text-align: justify;
}